# Git
.git/
.gitignore
.gitattributes

# Виртуальные окружения
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/

# IDE
.vscode/
.idea/
*.swp

# Секреты и локальные конфиги
.env
.env.*
!.env.example

# Логи и временные файлы
logs/
*.log
temp/
tmp/

# Celery
celerybeat-schedule
celerybeat-schedule.*
celerybeat.pid

# Docker-метаданные
Dockerfile
.dockerignore
docker-compose.yaml
docker-compose.*.yaml
docker-compose.*.yml

# Документация
*.md
docs/

# Тесты
tests/

# ОС
.DS_Store
Thumbs.db

# Конфиг мониторинга
prometheus.yml
grafana/
