# Git
.git
.gitignore

# Виртуальные окружения
.venv
venv
env

# Python кэш
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Среды разработки
.vscode/
.idea/

# Секреты и локальные конфиги
.env
# Временные файлы
temp/
