POSTGRES_USER=user
POSTGRES_PASSWORD=user
POSTGRES_DB=health_score_db
POSTGRES_HOST=localhost  # 'db' при запуске в Docker
POSTGRES_PORT=5432

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
SECRET_KEY=your_secret_key_here

REDIS_HOST=localhost  # 'redis' при запуске в Docker
REDIS_PORT=6379

# Список разрешённых origin-ов для CORS
ALLOWED_ORIGINS=http://localhost:8501,http://localhost:3000

# Включить пересчёт уровней каждую минуту (для отладки)
LOYALTY_RECALC_DEBUG=false

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
