POSTGRES_USER=user
POSTGRES_PASSWORD=user
POSTGRES_DB=health_score_db
POSTGRES_HOST=localhost # Изменить на 'db' при запуске в Docker
POSTGRES_PORT=5432

ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
SECRET_KEY=your_secret_key_here

REDIS_HOST=localhost # Изменить на 'redis' при запуске в Docker
REDIS_PORT=6379
