# Секреты
.env

# Виртуальное окружение
.venv/
env/
venv/

# Python: кэш, скомпилированные файлы
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Celery
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid

# Временные файлы и логи
temp/
*.log

# IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db
